.member {
    background-color: #efe9e7;
    color: #3D1101;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
    /*box-shadow預留*/
}

.member a {
    text-decoration: none;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.container h3 {
    font-size: 20px;
}

.member-title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5px;
}

.member-content {
    padding: 24px 0;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    border-top: 3px solid #FF5E45;
    margin-top: 24px;
    text-align: left;
}

.member-content h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}

.member-form {
    padding: 0 15px;
}

.member-form label {
    width: 100%;
    font-size: 16px;
    line-height: 15px;
}

.member-form input[type="email"], .member-form input[type="password"] {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    outline: none;
    padding: 10px 9px 10px 35px;
    /* 上 右 下 左 */
    margin-top: 3px;
}

.member-form input[type="email"] {
    margin-bottom: 15px;
}

.member-form label {
    display: block;
    margin-bottom: 4px;
    position: relative;
}

.member-form label::before {
    color: hsla(16, 97%, 12%, 0.5);
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    left: 12px;
    top: 34px;
}

.member-form label[for=email]::before {
    content: "\f0e0";
}

.member-form label[for=password]::before {
    content: "\f023";
}

.member-form .forgetpassword {
    color: #FF5E45;
    font-size: 14px;
    line-height: 19px;
    padding-top: 1px;
}

.member-form .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.member-form .btn {
    width: 48%;
    text-align: center;
    color: #fff;
    border: transparent solid 1px;
    border-radius: 3px;
    cursor: pointer;
}

.member-form .btn a {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 33px;
}

.registered {
    background: rgba(0, 0, 0, 0.35);
}

.signin {
    background: #F56C23;
}